.table-container {
	overflow-x: auto;
	padding: 30px 0;
}
table {
	font-size: 12px;
	border-collapse: collapse;
	th {
		text-align: left;
	}
	td,
	th {
		border: 1px solid black;
		padding: 5px 10px;
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background-color: blanchedalmond;
			}
		}
	}
}
