<footer class="d-flex align-items-center">
	<div class="container">
		<h6>სოციალური ქსელები</h6>
		<div class="d-flex justify-content-center" style="gap: 15px; flex-wrap: wrap">
			<a
				target="_blank"
				rel="nofollow"
				href="https://www.instagram.com/va1_do/"
				class="d-flex align-items-center justify-content-center">
				<img width="20px" height="20px" src="/assets/icons/instagram.svg" alt="instagram logo" />
				ინსტაგრამი
			</a>
			<a
				target="_blank"
				rel="nofollow"
				href="https://www.facebook.com/valeri879/"
				class="d-flex align-items-center justify-content-center">
				<img width="20px" height="20px" src="/assets/icons/facebook.svg" alt="fb logo" />
				ფეისბუქი
			</a>
			<a
				target="_blank"
				rel="nofollow"
				href="https://www.linkedin.com/in/val-kharitonashvili/"
				class="d-flex align-items-center justify-content-center">
				<img width="20px" height="20px" src="/assets/icons/linkedin.svg" alt="linkedin logo" />
				ლინკდინი
			</a>
			<a
				target="_blank"
				rel="nofollow"
				href="https://t.me/valdocom"
				class="d-flex align-items-center justify-content-center">
				<img width="20px" height="20px" src="/assets/icons/telegram-white.svg" alt="telegram logo" />
				ტელეგრამის არხი
			</a>
			<a
				target="_blank"
				rel="nofollow"
				href="https://discord.gg/pE87egReRx"
				class="d-flex align-items-center justify-content-center">
				<img width="20px" height="20px" src="/assets/icons/discord-white.svg" alt="discord logo" />
				დისქორდი
			</a>
			<a
				target="_blank"
				rel="nofollow"
				href="https://www.youtube.com/user/valeri4538"
				class="d-flex align-items-center justify-content-center">
				<img width="20px" height="20px" src="/assets/icons/youtube.svg" alt="youtube logo" />
				იუთუბი
			</a>
			<a
				target="_blank"
				rel="nofollow"
				href="https://www.github.com/valeri879"
				class="d-flex align-items-center justify-content-center">
				<img width="20px" height="20px" src="/assets/icons/github-white.svg" alt="github logo" />
				გითჰაბი
			</a>
		</div>
		<div class="version">ვერსია</div>
	</div>
</footer>
