.profile-container {
	padding-block: 15px;
	display: grid;
	gap: 15px;
	@media screen and (min-width: 576px) {
		grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
	}
	@media screen and (min-width: 768px) {
		grid-template-columns: minmax(0, 1fr) minmax(0, 5fr);
	}
	.no-avatar {
		font-size: 100px;
		display: block;
		text-align: center;
	}
	img {
		object-fit: cover;
		background-color: #ccc;
		aspect-ratio: 1 / 1;
		display: block;
		margin-bottom: 5px;
		color: transparent;
	}
	.btn-container {
		display: grid;
		gap: 5px 0;
	}
	.text-truncate {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
