<div class="container">
	<h1>ბლოგის {{ isEditMode ? "რედაქტირება" : "დამატება" }}</h1>
	<p>შეავსე ქვემოთ მითითებული ველები</p>
	<form [formGroup]="form">
		<mat-form-field appearance="outline">
			<mat-label>სათაური</mat-label>
			<input matInput formControlName="title" />
		</mat-form-field>
		<div class="form-group">
			<label for="descr">აღწერა*</label>
			<input matInput formControlName="description" />

		</div>
		<div class="form-group">
			<!-- <img *ngIf="isEditMode" src="{{ form.get('image')!.value }}" /> -->
			<button (click)="file.click()" mat-raised-button>ფოტოს {{ isEditMode ? "შეცვლა" : "ატვირთვა" }}</button>
			<input #file style="display: none" class="img" type="file" (change)="selectImage($event)" />
		</div>
		<div>
			<button [disabled]="" (click)="submit()" style="width: 100%" mat-raised-button color="primary">
				ბლოგის {{ isEditMode ? "რედაქტირება" : "დამატება" }}
			</button>
		</div>
	</form>
</div>
