<div class="container d-grid" fitToScreen>
	<ng-container *ngIf="quizes$ | async as quizes">
		<a *ngFor="let quiz of quizes" routerLink="/quiz/{{ quiz._id }}">
			<mat-card>
				<mat-card-title>
					<h3>{{ quiz.title }}</h3>
				</mat-card-title>
				<mat-card-content>
					<div [innerHTML]="quiz.smallDescr"></div>
				</mat-card-content>
				<mat-divider></mat-divider>
				<mat-card-actions>
					<mat-chip-list>
						<mat-chip color="primary" selected>{{ quiz.questions.length }} შეკითხვა</mat-chip>
					</mat-chip-list>
				</mat-card-actions>
			</mat-card>
		</a>
	</ng-container>
</div>
