.main-container {
	padding-block: 15px;
	display: grid;
	@media screen and (min-width: 768px) {
		grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
	}
	gap: 15px;
	@media print {
		grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
	}
	h1 {
		margin-top: 0;
	}
	.left-block {
		position: sticky;
		top: 0;
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
		gap: 5px;
		align-items: center;
		@media screen and (min-width: 768px) {
			display: block;
		}
		.info {
			grid-column: 1 / 3;
		}
	}
	a {
		text-decoration: none;
		color: dodgerblue;
		font-weight: bold;
	}
	p {
		white-space: pre-wrap;
	}
	.detail-block {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.profile-image {
		aspect-ratio: 1 / 1;
		object-fit: cover;
		display: block;
		background-color: #ccc;
		color: transparent;
	}
	.word-wrap {
		word-wrap: break-word;
	}
	ul {
		list-style: none;
		padding: 0;
		li,
		a {
			display: flex;
			align-items: flex-start;
			gap: 0 5px;
			img {
				position: relative;
				top: 5px;
			}
		}
		a {
			max-width: 100%;
		}
		li:not(:first-child, :last-child) {
			padding-block: 10px;
		}
		li:first-child {
			padding-bottom: 10px;
		}
		li:last-child {
			padding-top: 10px;
		}
		a {
			span {
				max-width: calc(100% - 20px);
			}
		}
	}
}
