.container {
	margin-top: 15px;
}

.container.grid {
	padding-block: 15px;
	display: grid;
	gap: 15px;
	@media screen and (min-width: 576px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.location {
		padding-top: 15px;
	}
	.chip-list {
		margin-bottom: 15px;
		display: flex;
		flex-wrap: nowrap;
	}
	a {
		text-decoration: none;
	}
}
