mat-card {
    cursor: pointer;
}
h4 {
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p {
    margin-block: 15px;
}

.date {
    margin-top: 15px;
}