.container {
	margin-block: 15px;
}

.cover {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	margin-bottom: 15px;
}

h1 {
	margin-top: 0;
	margin-bottom: 15px;
}

.admin-buttons {
	background-color: antiquewhite;
	padding: 15px;
	gap: 0 15px;
	margin-bottom: 15px;
}

.badges-container {
	gap: 0 5px;
}
